# Production environment files
php_errorlog
private.key
public.key
.well-known
/webstats/

## Explicitly ignore configuration that we do not want to version
config/smtp.settings.yml

# Ignore test data
/corpus_data
/repository_data
/2019_data
/private

# "Built" components

# Generally you should only ignore the root vendor directory. It's important
# that core/assets/vendor and any other vendor directories within contrib or
# custom module, theme, etc., are not ignored unless you purposely do so.
/vendor/

config/.htaccess
/.drush-lock-update
/drush/drush.yml

/public_html/.csslintrc
/public_html/.editorconfig
/public_html/.eslintignore
/public_html/.eslintrc.json
/public_html/.gitattributes
/public_html/.gitignore
/public_html/.ht.router.php
/public_html/.htaccess
/public_html/INSTALL.txt
/public_html/README.txt
/public_html/autoload.php
/public_html/example.gitignore
/public_html/index.php
/public_html/robots.txt
/public_html/update.php
/public_html/web.config
/public_html/core
/public_html/libraries
/public_html/modules/contrib
/public_html/modules/custom
/public_html/modules/README.txt
/public_html/profiles/README.txt
/public_html/themes/contrib
/public_html/themes/custom
/public_html/sites/README.txt
/public_html/sites/default/default.services.yml
/public_html/sites/default/default.settings.php
/public_html/sites/default/config/.htaccess
/public_html/sites/default/config/README
/public_html/sites/development.services.yml
/public_html/sites/example.settings.local.php
/public_html/sites/example.sites.php
/public_html/themes/README.txt

# Ignore sensitive information
/public_html/sites/*/settings.local.php

# Ignore Drupal's file directory
/public_html/sites/*/files/

# Note that services.local.yml is not loaded by default. If you would like
# to use this file add the following to your settings.local.php file:
#   $settings['container_yamls'][] = __DIR__ . '/services.local.yml';
/public_html/sites/*/services.local.yml

# ** Only works in OSs that support newer versions of fnmatch (Bash 4+)
/sites/default/**/files
/sites/default/**/private

# Ignore SimpleTest multi-site environment.
/public_html/sites/simpletest

# Other common rules
# ------------------
# Local Build Scripts #
#######################
p.sh
bup.sh
dcc.sh

# .ddev Drush Commands #
########################
web/sites/all/drush

# Packages #
############
*.7z
*.dmg
*.gz
*.bz2
*.iso
*.jar
*.rar
*.tar
*.zip
*.tgz
*.csv

# Logs and databases #
######################
*.log
*.sql

# OS generated files #
######################
.DS_Store*
ehthumbs.db
Thumbs.db
._*

# Vim generated files #
######################
*.un~

# SASS #
##########
.sass-cache

# Things in the core directory that Drupal 8 commits in the repository.
!core/**/*.gz

